name: UUP Download Windows

on:
  workflow_dispatch:
    inputs:
      file-name:
        description: 'upload the zip package to this repo.'
        required: true
        default: ''

jobs:
  Download:
    runs-on: windows-2022
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: Unzip
      run: |
        ./7z x ${{ github.event.inputs.file-name }} -aoa
    - name: Replace powershell with pwsh
      run: |
        Get-ChildItem -Recurse -Filter *.cmd | ForEach-Object {
        (Get-Content $_.FullName) -replace '\bpowershell\b', 'pwsh' | Set-Content $_.FullName
        }
    - name: Download
      run: |
        ./uup_download_windows.cmd
    - name: Upload
      uses: actions/upload-artifact@main
      with:
        name: ISO
        path: ./*.ISO
    - name: Upload to WeTransfer
      run: |
        mkdir isos
        ./7z a ./isos/isos.zip *.ISO -v1G
        ./transfer wet -s ./isos/

        
        
